.homeArticle > div {
    @apply my-28;
}
.section {
    @apply w-full flex justify-center items-center;
    scroll-snap-align: start;
    height: calc(100vh - 90px);
}

.hero {

}

.videoSection > h2 {
    @apply mb-28;
}

.videoHero {
    @apply flex items-center;
}

.videoHero > div {
    @apply w-full;
}

.recentPosts {

}

.cardGrid {
    @apply grid grid-cols-1 md:grid-cols-2 w-full gap-16;
}

.cardGrid > div {
    min-height: 480px;
}

.card > div:first-child {
    min-height: 394px;
}
